Repository ToniIvankovic/TrueBlood: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-be, deploy-fe

deploy-be:
  stage: deploy
  script:
  ...

deploy-fe:
  stage: deploy
  script:
  - cd IzvorniKod/frontend; git config --global user.email "$HEROKU_USER"; git config --global user.name "$HEROKU_USER"; git init; git add .; git commit -m "heroku deploy"; git push -f https://$HEROKU_USER:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_STAGING_FE.git HEAD:master

Fixed randomPassword, changed password generation for createDonorBy[Donor/Worker]
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/service/DonorService.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/service/UserService.java
Due: none

Revert "Merge branch 'heroku-integration' into 'main'"
  .gitlab-ci.yml
Due: none

Added CI configuration with dpl
  .gitlab-ci.yml
Due: none

fixed incorrect variable use
  .gitlab-ci.yml
Due: none

change directory in deploy
  .gitlab-ci.yml
Due: none

added system.properties with java version 11
  IzvorniKod/backend/megatron/system.properties
Due: deploy-be

added heroku prebuild script to install dev dependencies
  IzvorniKod/frontend/package.json
Due: deploy-fe

yarn NODE_DEV workaround
  IzvorniKod/frontend/package.json
Due: deploy-fe

added .env file with port configuration, added dotenv-webpack package
  IzvorniKod/frontend/.env
  IzvorniKod/frontend/package.json
  IzvorniKod/frontend/yarn.lock
Due: deploy-fe

added Procfile and a simple express server to deploy react app
  IzvorniKod/frontend/Procfile
  IzvorniKod/frontend/package.json
  IzvorniKod/frontend/server.js
Due: deploy-fe

navbar fix
  IzvorniKod/frontend/src/Navbar/Navbar.css
Due: none

Dodani UC u dokumentaciju, manje promjene na dijagramima
  Dokumentacija/TrueBlood dokumentacija.zip
  Dokumentacija/Use cases/SD opisi.txt
  Dokumentacija/Use cases/SD1_rot.png
  Dokumentacija/Use cases/SD2_rot.png
  Dokumentacija/Use cases/Sekvencijski-SD2 uredivanje zdravstvenih podataka i doniranje.png
  Dokumentacija/Use cases/Sekvencijski-SD2 uređivanje zdravstvenih podataka i doniranje - Copy.png
  Dokumentacija/Use cases/Sekvencijski.drawio
  Dokumentacija/Use cases/UC opisi.txt
Due: none

Verzija dokumentacije 0.7
  Dokumentacija/TrueBlood_dokumentacija.pdf
Due: none

added API requests for login, registration and logout
  IzvorniKod/frontend/package.json
  IzvorniKod/frontend/src/App.js
  IzvorniKod/frontend/src/ErrorCard.js
  IzvorniKod/frontend/src/Login.js
  IzvorniKod/frontend/src/Profil.js
  IzvorniKod/frontend/src/Registracija.js
  IzvorniKod/frontend/src/index.css
  IzvorniKod/frontend/src/util/axios-instance.js
  IzvorniKod/frontend/yarn.lock
Due: deploy-fe

Added logout endpoint -fixed CORS issues -fixed role name for createDonorByBankWorker - changed ROLE_WORKER to ROLE_BANK_WORKER
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/config/CustomAuthenticationProvider.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/config/WebSecurity.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/DonorController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/login/LoginController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/login/LogoutController.java
Due: none

Update baza v1.sql
  baza v1.sql
Due: none

Update README.md with Heroku and deployment information
  README.md
Due: none

Revert "Merge branch 'Password_fix' into 'develop'"
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/service/DonorService.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/service/UserService.java
Due: none

Revert "Revert "Merge branch 'Password_fix' into 'develop'""
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/service/DonorService.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/service/UserService.java
Due: none

Added userID to backend log for ease of testing
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/service/DonorService.java
Due: none

added heroku psql instructions
  README.md
Due: none

added fallback to index.html for any path other than /
  IzvorniKod/frontend/server.js
Due: deploy-fe

Nista
  Pitanja_za_asistente.txt
Due: none

Verzija 0.9 (prije zadnje konzultacije)
  Dokumentacija/TrueBlood_dokumentacija.pdf
Due: none

Dodano pitanje o onemogućavanju doniranja sustavno u zabranjenom periodu
  Pitanja_za_asistente.txt
Due: none

Dodano nekoliko verzija dokumentacije
  Dokumentacija/MEGATRON_TrueBlood_dokumentacija 0_9_rev_20211118.pdf
  Dokumentacija/MEGATRON_TrueBlood_dokumentacija_rev_20211116.pdf
  Dokumentacija/TrueBlood_dokumentacija 0_10.pdf
  Dokumentacija/TrueBlood_dokumentacija0_9.pdf
Due: none

Promijenjen gitignore da se uploadaju .pdf datoteke
  .gitignore
Due: none

Replaced basic auth with JWT authentication
  IzvorniKod/backend/megatron/pom.xml
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/config/JwtTokenFilter.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/config/LoginAuthenticationProvider.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/config/WebSecurity.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/login/LoginController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/login/LogoutController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/model/User.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/model/dto/AuthRequest.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/util/JwtTokenUtil.java
  IzvorniKod/backend/megatron/src/main/resources/application.yml
Due: deploy-be

updated getCurrentUser to use token data (since stateless session management)
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/DonorController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/UserController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/util/JwtTokenUtil.java
Due: none

fixed CORS issues for frontend - exposed authorization header in LoginController to allow frontent to read generated access token - added CrossOrigin annotation to UserController
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/DonorController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/UserController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/login/LoginController.java
Due: none

Dodana verzija 0_11
  Dokumentacija/TrueBlood_dokumentacija_0_11.pdf
Due: none

Dodane promjene UC dijagrama da slijede dokumentaciju 0.11
  Dokumentacija/Use cases/UC1.png
  Dokumentacija/Use cases/UC2.png
  Dokumentacija/Use cases/UC3.png
  Dokumentacija/Use cases/UC4.png
  Dokumentacija/Use cases/UC5.png
  Dokumentacija/Use cases/UC6.png
  Dokumentacija/Use cases/Use Cases-1 - Administracija racuna.png
  Dokumentacija/Use cases/Use Cases-2 - aktivacija racuna.png
  Dokumentacija/Use cases/Use Cases-3 - Uredivanje postojecih racuna.png
  Dokumentacija/Use cases/Use Cases-4 - Proces doniranja.png
  Dokumentacija/Use cases/Use Cases-5 - javni web i mogucnosti nakon prijave.png
  Dokumentacija/Use cases/Use Cases-6 - potrosnja krvi i obavijesti.png
  Dokumentacija/Use cases/Use Cases.drawio
Due: none

Dodan zapisnik sa 7. sastanka
  dnevnik.txt
Due: none

Dodana dokumentacija verzija 0.11
  Dokumentacija/TrueBlood_dokumentacija 0_11.pdf
Due: none

Reorganized packages, fixed bank worker, changes database, added donor validation and checking if donor with oib already exists.
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/DonorController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/UserController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/login/LoginController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/controller/login/LogoutController.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/exception/WrongDonorException.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/exception/WrongUserException.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/exception/WrongUserIdException.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/model/User.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/repository/DonorRepository.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/security/CustomAuthenticationProvider.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/security/JwtTokenFilter.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/security/JwtTokenUtil.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/security/LoggedInResponse.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/security/LoginAuthenticationProvider.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/security/WebSecurity.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/service/DonorService.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/service/UserService.java
  IzvorniKod/backend/megatron/src/main/java/progi/megatron/validation/DonorValidator.java
  IzvorniKod/backend/megatron/src/main/resources/db/migration/V1__fill_tables.sql
  baza v1.sql
Due: none

added error card to registration
  IzvorniKod/frontend/src/App.js
  IzvorniKod/frontend/src/ErrorCard.js
  IzvorniKod/frontend/src/Login.js
  IzvorniKod/frontend/src/Navbar/Navbar.js
  IzvorniKod/frontend/src/Profil.js
  IzvorniKod/frontend/src/Registracija.js
Due: none

changed logging to debug: false
  IzvorniKod/backend/megatron/src/main/resources/application.yml
Due: none

added jobs for deploy from develop and manual jobs for deploy from main (to production)
  .gitlab-ci.yml
Due: none

Update V1__fill_tables.sql
  IzvorniKod/backend/megatron/src/main/resources/db/migration/V1__fill_tables.sql
Due: none

Path conditions:
  deploy-be: any of: IzvorniKod/backend/megatron/**
  deploy-fe: any of: IzvorniKod/frontend/**
